<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pmk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Ranking.DetailHasil"></activity>
        <activity android:name=".DataSapi.InputActivity" />
        <activity android:name=".DataSapi.EditsapiActivity" />
        <activity android:name=".Kriteria.Kriteria" />
        <activity android:name=".profile.Profile" />
        <activity android:name=".LupaPass.Gantipass" />
        <activity android:name=".LupaPass.Cekusername" />
        <activity android:name=".Ranking.Ranking" />
        <activity android:name=".DataSapi.DataSapi" />
        <activity android:name=".About.About" />
        <activity android:name=".Beranda.Beranda" />
        <activity android:name=".Register.RegisterActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
